
[mysqld]
# collation and character set
character_set_server = utf8mb4
collation_server = utf8mb4_general_ci

# slow query log settings
long_query_time = 0.3
slow_query_log = ON
slow_query_log_file = /var/lib/mysql-files/slow.log
log_queries_not_using_indexes = ON

# transaction settings
transaction_isolation = READ-COMMITTED

# connection settings
max_connections = 100

# temp table settings
temptable_max_ram = 1073741824
temptable_use_mmap = ON
temptable_max_mmap = 1073741824

# sort buffer settings
sort_buffer_size = 262144

# error log settings
log_error_verbosity = 1

# table name case sensitivity
lower_case_table_names = 1

# InnoDB settings
default_storage_engine = InnoDB
innodb_lock_wait_timeout = 3
innodb_print_all_deadlocks = ON

[mysql]
default_character_set = utf8mb4

[mysqldump]
default_character_set = utf8mb4
